# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

data = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
data.dropna(axis=0, how="all", inplace=True)

Data is full of NaN rows, first we do a general cleaning using "dropna" the we obtain the clean dimensions of the dataframe: 1071 rows * 11 columns

In [11]:
data.shape

(1071, 11)

In [17]:
data.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

Data Types: column "Customer Lifetime Values" is suggested to be numerical **float**, number of open complains as well, it should be **integer**

In [14]:
data.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

ST, Gender, Education, Policy Type, Vehicle class are the categorical variables

In [6]:
#DEFINING FUNCTIONS

def convert_lt_value(element):
    if element == np.nan:
        return np.nan
    if type(element)==float:
        return element
    if element[-1] == "%":
        return float(element[:-1])/100
    
def convert_num_complaints(element):
    if element[2].isdigit():
        return int(element[2])
    else:
        return np.nan

def convert_gender(element):
    if type(element) == float:
        return np.nan
    if element[0].lower() == "f":
        return "f"
    if element[0].lower() == "m":
        return "m"
    else:
        return np.nan

def convert_income(element):
    if element == 0:
        return np.nan
    else:
        return element
    
def convert_st(element):
    return element[0:2].upper()

def convert_edu(element):
    if element == "Bachelors":
        return "Bachelor"
    return element.strip()

In [7]:
#CALLING FUNCTIONS

#NUMERICAL
data["lt_value"] = data["Customer Lifetime Value"].apply(convert_lt_value)
data["num_complaints"] = data["Number of Open Complaints"].apply(convert_num_complaints)
data["income_r"] = data["Income"].apply(convert_income)


#CATEGORICAL
data["gender_r"] = data["GENDER"].apply(convert_gender)
data["state_r"] = data["ST"].apply(convert_st)
data["education_r"] = data["Education"].apply(convert_edu)

In [8]:
#SELECTION OF RELEVANT COLUMNS
#data["lt_value_revised"] = float(data["Customer Lifetime Value"])

categorical_vars = ["state_r", "gender_r", "education_r", "Policy Type", "Vehicle Class" ]
numerical_vars = ["lt_value", "income_r", "Monthly Premium Auto", "Total Claim Amount", "num_complaints" ]

In [32]:
# Evaluated individually for each variable
data["Vehicle Class"].value_counts()

Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

In [38]:
# Evaluated individually for each variable
data["Vehicle Class"].isna().sum()

0

In [34]:
# Evaluated individually for each variable
data["Vehicle Class"].sort_values(ascending=True)

0       Four-Door Car
617     Four-Door Car
618     Four-Door Car
619     Four-Door Car
620     Four-Door Car
            ...
240      Two-Door Car
628      Two-Door Car
627      Two-Door Car
99       Two-Door Car
1070     Two-Door Car
Name: Vehicle Class, Length: 1071, dtype: object

In [39]:
# Evaluated individually for each variable
data["Total Claim Amount"].mean()

404.98690940896364

In [37]:
data[numerical_vars].describe()

,lt_value,income_r,Monthly Premium Auto,Total Claim Amount,num_complaints
count,1068.000000,819.000000,1071.000000,1071.000000,1071.000000
mean,7936.902593,51386.686203,193.234360,404.986909,0.394024
std,6434.784103,24337.568075,1601.190369,293.027260,0.883769
min,2004.350700,10105.000000,61.000000,0.382107,0.000000
25%,4034.079950,28889.000000,68.000000,202.157702,0.000000
50%,5881.742350,49721.000000,83.000000,354.729129,0.000000
75%,8962.871975,70423.500000,109.500000,532.800000,0.000000
max,58166.553500,99960.000000,35354.000000,2893.239678,5.000000

In [29]:
for var in categorical_vars:
    print(data[var].value_counts())

state_r
CA    331
OR    320
AR    186
WA    111
NE     98
AZ     25
Name: count, dtype: int64
gender_r
f    502
m    452
Name: count, dtype: int64
education_r
Bachelor                331
College                 313
High School or Below    296
Master                   94
Doctor                   37
Name: count, dtype: int64
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [15]:
data.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount', 'lt_value',
       'num_complaints', 'income_r', 'gender_r', 'state_r', 'education_r'],
      dtype='object')

In [14]:
location = data["state_r"].value_counts()
location.sort_values(ascending=True)

state_r
AZ     25
NE     98
WA    111
AR    186
OR    320
CA    331
Name: count, dtype: int64

**Dear Marketing team: the  less customer locations are Arizona, Nebraska, Washington, Arizona and Oregon**

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [20]:
series_type=data["Policy Type"].value_counts()
series_type

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [28]:
max_index_row = series_type.loc[series_type.idxmax()]
print(f"Our most frequent policy is {series_type.idxmax()} and the actual number of policies is {max_index_row}")

Our most frequent policy is Personal Auto and the actual number of policies is 780

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [31]:
data[["Policy Type", "income_r"]].groupby("Policy Type").mean()

                    income_r
Policy Type
Corporate Auto  54108.005587
Personal Auto   50390.769882
Special Auto    53457.510204

The average income is higher in Corporate Auto, followed by Special Auto and then Personal Auto

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here